circle {
  fill: #FF530D;
  z-index: 2;
}

path.school {
  fill: #3F5765;
  opacity: 0.5;
}

path.work {
  fill: #BDD4DE;
  opacity: 0.6;
}

path.home {
  fill: #2B3A42;
  opacity: 0.5;
}

svg.pie {
  width: 275px;
  height: 275px;
}