* {
  font-family: 'Lato', sans-serif;
}

.am circle {
  fill: #FF530D;
  z-index: 2;
}

path:hover {
  stroke: black;
  stroke-width: 2px;
}

.am path.school {
  fill: #56778A;
  opacity: 0.5;
}

.am path.work {
  fill: #BDD4DE;
  opacity: 0.5;
}

.am path.home {
  fill: #2B3A42;
  opacity: 0.5;
}

.pm circle {
  fill: #02495E;
}

.pm path.school {
  fill: #ACBD86;
  opacity: 0.5;
}

.pm path.work {
  fill: #FFD6A0;
  opacity: 0.5;
}

.pm path.home {
  fill: #28544B;
  opacity: 0.5;
}

svg.pie {
  width: 300px;
  height: 300px;
}

form {
  width: 100%;
}

.schedule {
  text-align: center;
}