circle {
  fill: #CAFCD8;
  z-index: 2;
}

path {
  stroke: #F7E967;
  stroke-width: 3;
  fill: transparent;
  z-index: -1;
}

path.school {
  stroke: #A9CF54;
  stroke-width: 3;
  fill: transparent;
}

path.work {
  stroke: #04BFBF;
  stroke-width: 3;
  fill: transparent;
}

svg.pie {
  width: 250px;
  height: 250px;
}