<!DOCTYPE html>
<html>
<head>
  <title>Circle Schedule</title>

  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
    
</head>
    <body ng-app="schedule" ng-controller="MainCtrl">
        <div class="container">

          <!-- The two circles -->
          <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-3 schedule am">
              <svg class="pie">
                <g ng-repeat="path in paths | filter:{time_of:'am'} | 
                    orderBy: '-priority'" transform="rotate(-90 150 150)">
                  <path class="{{path.category}}" d="{{path.data}}" 
                    ng-click="showEvent(path.name, path.start, path.end)"/>
                </g>
                <circle cx="150" cy="150" r="45" ng-click="selected=false">
                </circle>
              </svg>
            </div>

            <div class="col-md-3 schedule pm">
              <svg class="pie">
                <g ng-repeat="path in paths | filter:{time_of:'pm'} | 
                    orderBy: '-priority'" transform="rotate(-90 150 150)">
                  <path class="{{path.category}}" d="{{path.data}}" 
                    ng-click="showEvent(path.name, path.start, path.end)" />
                </g>
                <circle cx="150" cy="150" r="45" ng-click="selected=false">
                </circle>
              </svg>
            </div>

            <div class="col-md-3">
              <div ng-show="selected">
                <h1>{{title}}</h1>
                <p>Start Time: {{start}}</p>
                <p>End Time: {{end}}</p>
              </div>
            </div>

          </div>

          <!-- Form for Creating Events -->
          <form id="event" ng-submit="createEvent();">
            <div class="row">
              <div class="col-md-3"></div>

              <div class="col-md-2">
                <label>Event Name:</label>
                <input type="text" placeholder="Meeting" 
                  ng-model="name">
              </div>

              <div class="col-md-2">
                <label>Category:</label>
                <select class="form-control" ng-model="category">
                  <option value="" disabled selected>Select category</option>
                  <option value="home">Home</option>
                  <option value="school">School</option>
                  <option value="work">Work</option>
                </select>
              </div>

              <div class="col-md-2">
                <label>Priority:</label>
                <select class="form-control" ng-model="priority">
                  <option value="" disabled selected>Select priority</option>
                  <option value="3">High</option>
                  <option value="2">Medium</option>
                  <option value="1">Low</option>
                </select>
              </div>

              <div class="col-md-3"></div>

            </div>

            <div class="row">
              <div class="col-md-2 col-md-offset-4">
                <label>Start Time:</label><br>
                <input type="number" min="0" max="12" 
                ng-model="start_hr" ng-init="start_hr=1"> : 

                <input type="number" min="0" max="59" 
                ng-model="start_mn" ng-init="start_mn=0"><br>

                <input type="radio" value="am"
                ng-model="start_tod">AM

                <input type="radio" value="pm"
                ng-model="start_tod">PM
              </div>

              <div class="col-md-3">
                <label>End Time:</label><br>
                <input type="number" min="0" max="12" 
                ng-model="end_hr" ng-init="end_hr=2"> :

                <input type="number" min="0" max="59" 
                ng-model="end_mn" ng-init="end_mn=0"><br>

                <input type="radio" value="am"
                ng-model="end_tod">AM

                <input type="radio" value="pm"
                ng-model="end_tod">PM
              </div>

            </div>

            <div class="row">
              <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>

        </div>
    </body>
</html>
